CONFIG_EVP_AGENT_BOARD_SUPPORT="configs/defaults.mk"
CONFIG_EVP_AGENT_EXPERIMENTAL=y
CONFIG_EVP_BLOB_GET_UPLOAD_URL=y
CONFIG_EVP_MODULE_IMPL_PYTHON=y
CONFIG_EVP_MODULE_IMPL_SPAWN=y
CONFIG_EVP_MODULE_IMPL_WASM=y
CONFIG_EVP_MODULE_IMPL_WASM_NATIVE_LIBS=y
CONFIG_EVP_MODULE_IMPL_WASM_DEFAULT_HEAPSIZE=32678
CONFIG_EVP_MODULE_IMPL_WASM_DEFAULT_STACKSIZE=32678
CONFIG_EVP_SDK_LOCAL=y
CONFIG_EVP_TWINS_NO_PERSISTANCE=y
